/* 
==================
color variables
==================
*/

/* light theme */
:root {
  /* 
  #9277FF
  
  
  
  #9277FF
  
  #252945
  
  
  
  #141625 */

  --mainBackground: #F8F8FB;
  --tileBackground: #FFFFFF;
  --primaryText: #0C0E16;
  --secondaryText: #7E88C3;
  --ternaryText: #888EB0;
  --btnBackground: #7C5DFA;
  --navBackground: #373B53;
  --deleteBtnBackground: #EC5757;
  --amountBackground: #373B53;
  --inputBorder: #7E88C3;
  --inputRadius: 0.25rem;
  --invoiceRadius: 0.5rem;



}

/* dark theme */
[data-theme = 'dark'] {
  --mainBackground: #1E2139;
  --tileBackground: #373B53;
  --primaryText: #FFF;
  --secondaryText: #DFE3FA;
  --ternaryText: #7E88C3;
  --btnBackground: #7C5DFA;
  --navBackground: #373B53;
  --deleteBtnBackground: #EC5757;
  --amountBackground: #0C0E16;
  --inputBorder: #373B53;
  --error: #EC5757;
  --inputRadius: 0.25rem;
  --invoiceRadius: 0.5rem;



}


/* 
===========
Navbar
===========
*/

/* navbar component  */
.navbar {
  background-color: var(--navBackground);
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* theme toggle button */
.themeToggle {
  border-style: none;
  background-color: var(--navBackground);
}

.themeToggle:hover {
  cursor: pointer;
}

/* container with avatar and theme toggle button */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.avatar {
  border-radius: 50%;
}

.divider {
  height: 4.5rem;
  border-left-color: var(--ternaryText);
  border-left-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

