/* 
==================
color variables
==================
*/

:root {
  /* 
  #9277FF
  
  
  
  #9277FF
  
  #252945
  
  
  
  #141625 */

  --mainBackground: #F8F8FB;
  --tileBackground: #FFFFFF;
  --primaryText: #0C0E16;
  --secondaryText: #7E88C3;
  --ternaryText: #888EB0;
  --btnBackground: #7C5DFA;
  --navBackground: #373B53;
  --deleteBtnBackground: #EC5757;
  --amountBackground: #373B53;
  --inputBorder: #7E88C3;
  --inputRadius: 0.25rem;
  --invoiceRadius: 0.5rem;



}

[data-theme = 'dark'] {
  --mainBackground: #1E2139;
  --tileBackground: #373B53;
  --primaryText: #FFF;
  --secondaryText: #DFE3FA;
  --ternaryText: #7E88C3;
  --btnBackground: #7C5DFA;
  --navBackground: #373B53;
  --deleteBtnBackground: #EC5757;
  --amountBackground: #0C0E16;
  --inputBorder: #373B53;
  --error: #EC5757;
  --inputRadius: 0.25rem;
  --invoiceRadius: 0.5rem;



}